<nav class="navbar">
    <div class="leftSec">
        <img class="leftSecImg" src="assets/imgs/logo.svg" alt="">
    </div>
    <div class="rightSec">
        <div class="menu">
            <li #animatedElement>Home</li>
            <li>Track Order</li>
            <li>Ship Now</li>
            <li>Contact Us</li>
        </div>
        <div class="logRegCont">
            <a [routerLink]="['/loginpage']" class="loginBtn">Login</a>
            <a [routerLink]="['/registerpage']" class="registerBtn">Register</a>
        </div>
    </div>
</nav>
<div  class="simpleTxt">
    <img src="assets/imgs/simpleTxt.svg" alt="Simple Move">
</div>
<div class="midSec">
    <img class="heroimg" src="assets/imgs/heroImg.svg" alt="Hero Img">
</div>
<div class="lastSec">
    <div class="title">
        <h4>Craftmanship in Logistics</h4>
        <h1>KARGOKART</h1>
    </div>
    <div class="info">
        <p>
            Your trusted partner in seamless logistics solutions, delivering reliability & efficiency at every mile.
        </p>
    </div>
</div>